/* Aula 1 */
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.html {
    font-size: 62.5%;
}



/* SEÇÃO VÍDEOS */

.videos__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    z-index: 1;
    padding: 50px 20px 10px 20px;
}

.email__user {
    font-size: 50px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.videos__item {
    flex-grow: 1;
    height: 75vh;
    min-width: 80vw;
}

/* grid vídeos */

.descricao-video {
    /* margin-top: 1rem; */
    display: flex;
    flex-direction: column;
    text-align: start;
    /* column-gap: 1rem; */
    row-gap: 10px;
}

.cabec-video {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0;
    margin: 0;
}

.cabec-video h3 {
    font-weight: 700;
    color: #444444;
    font-size: 1rem;
}

.descricao-video .acoes-video {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.descricao-video .acoes-video a {
    text-decoration: none;
    max-width: 4rem;
    color: navy;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: .7rem;
    transition: linear 1s;
    /* font-weight: 500; */
    text-shadow: 2px 0 10px 2px rgba(100, 148, 237, 1);
    padding-right: 100px;
    font-weight: 200;
    text-align: right;
    justify-content: center;
}

.descricao-video .acoes-video a:hover {
    text-decoration: underline;

}

.descricao-video .acoes-video a::before {
    content: "";
    /* border-bottom:2px solid rgba(0, 0, 255, 0.5); */
    background: white;
    width: 5rem;
    height: 8.5rem;
    /* bottom: 10px; */
    border-radius: 0 0 20px 20px / 0 0 50px 50px;
    position: absolute;
    transform: translateY(-6rem) translateX(-0.6rem);
    z-index: -1;
    box-shadow: 0 0 5px 2px rgba(100, 148, 237, 0.3);
}

.cabec-video img {
    width: 3em;
    height: 3em;
    border-radius: 100%;
}

@media(min-width: 834px) {

    .videos__container {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media(min-width: 1440px) {
    .videos__item {
        width: 288px;
    }
}