/* Aula 1 */
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}






/* SEÇÃO VÍDEOS */

.videos__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    z-index: 1;
    padding: 50px 20px 10px 20px;
}

.email__user {
    font-size: 50px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.videos__item {
    flex-grow: 1;
    height: 503px;
    min-width: 500px;
}

/* grid vídeos */

.descricao-video {
    margin-top: 1rem;
    display: grid;
    text-align: start;
    column-gap: 1rem;
    row-gap: 10px;
    grid-template-columns: auto 1fr;
}

.descricao-video img {
    grid-area: 1 / 1 / 3 / 2;
}

.descricao-video h3 {
    grid-area: 1 / 2 / 2 / 3;
    font-weight: 700;
    color: #444444;
}

.descricao-video .acoes-video {
    display: flex;
    justify-content: space-around;
}

.descricao-video .acoes-video a {
    text-decoration: underline;
}

.descricao-video img {
    width: 2em;
    height: 2em;
    border-radius: 100%;
}

@media(min-width: 834px) {

    .videos__container {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media(min-width: 1440px) {
    .videos__item {
        width: 288px;
    }
}